{% extends "emails/email_base.html" %}
{% load i18n %}

{% block email_header %}
    {% blocktrans %}Password reset on {{ site_name }}{% endblocktrans %}
{% endblock %}

{% block email_content %}
    {% blocktrans %}You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
    {% trans "Please go to the following page and choose a new password:" %}
    <br><br>
    <a href="{{ reset_link }}" style="color:#0071B2; text-decoration:none; font-weight:bold;">{% trans "Reset Password" %}</a>
{% endblock %}