[buildout]
parts = django omlette mailer sphinxbuilder
unzip = true
versions = versions

[versions]
django = 1.5.4
django-grappelli = 2.4.8

[django]
recipe = djangorecipe
project = project
eggs =
     Pillow
     psycopg2
     ipython
     south
     sorl-thumbnail
     django-debug-toolbar
     django-extensions
     django_compressor
     django-pagination
     django-registration
     django-keyedcache
     django-livesettings
     django-admin-flexselect
     django-grappelli
     Babel
     BeautifulSoup
     django-resized
     django-docs

wsgi = true
settings = settings
extra-paths = ${buildout:directory}/project/apps
              ${mailer:location}

[registration]
recipe = mercurialrecipe
repository = http://bitbucket.org/ubernostrum/django-registration/

[mailer]
recipe = zerokspot.recipe.git
repository=https://github.com/pinax/django-mailer

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs-source
build = ${buildout:directory}/docs

[omlette]
recipe = collective.recipe.omelette
eggs = ${django:eggs}
