
  <div class="form-group" ng-class="{'has-error': form.full_name.$invalid || errors.full_name}">
    <label class="col-lg-3 control-label">Display Name</label>
    <div class="col-lg-9">
      <input name="full_name" type="text" class="form-control" placeholder="" ng-model="AccountObj.user.full_name">
      <span class="help-block">Tip: Use your real name so people can find and follow you</span>
      <span class="help-block" ng-show="errors.full_name" ng-repeat="error in errors.full_name">{{error}}</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.name.$invalid || errors.name || AccountObj.username_available == 'Unavailable'}">
    <label class="col-lg-3 control-label">Username</label>
    <div class="col-lg-6">
      <input name="name" ng-keyup="checkUsername($event.target.value)" type="text" class="form-control" placeholder="" ng-model="AccountObj.name" ng-keyup="checkUsername($event.target.value)" ng-maxlenght="255">
      <span class="help-block" ng-show="errors.name" ng-repeat="error in errors.name">{{error}}</span>
    </div>
    <div class="col-lg-3">
        {{AccountObj.username_available}}
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.email.$invalid || errors.email}">
    <label class="col-lg-3 control-label">Email</label>
    <div class="col-lg-9">
      <input name="email" type="email" class="form-control" placeholder="" ng-model="AccountObj.user.email">
      <span class="help-block" ng-show="errors.email" ng-repeat="error in errors.email">{{error}}</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.password_1.$invalid || errors.password_1}">
    <label class="col-lg-3 control-label">Password</label>
    <div class="col-lg-9">
      <input name="password_1" type="password" class="form-control" placeholder="" ng-model="AccountObj.user.password_1">
      <span class="help-block" ng-show="errors.password_1" ng-repeat="error in errors.password_1">{{error}}</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.password_2.$invalid || errors.password_2}">
    <label for="inputPassword1" class="col-lg-3 control-label">Confirm Password</label>
    <div class="col-lg-9">
      <input name="password_2" type="password" class="form-control" placeholder="" ng-model="AccountObj.user.password_2">
      <span class="help-block" ng-show="errors.password_2" ng-repeat="error in errors.password_2">{{error}}</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.about.$invalid || errors.about}">
    <label class="col-lg-3 control-label">About Account</label>
    <div class="col-lg-9">
      <textarea name="about" class="form-control" ng-model="AccountObj.about"></textarea>
      <span class="help-block" ng-show="errors.about" ng-repeat="error in errors.about">{{error}}</span>
    </div>
  </div>
   <div class="form-group" ng-class="{'has-error': form.website.$invalid || errors.website}">
    <label class="col-lg-3 control-label">Website</label>
    <div class="col-lg-9">
      <input name="website" type="text" class="form-control" placeholder="" ng-model="AccountObj.website">
      <span class="help-block" ng-show="errors.website" ng-repeat="error in errors.website">{{error}}</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.main_image.$invalid || errors.main_image}">
    <label class="col-lg-3 control-label">User Hero Image</label>
    <div class="col-lg-4">
      <input name="main_image" type="file" class="btn" ng-file-select="onFileSelect($files, 'main_image_obj')" ng-model="AccountObj.main_image">
      <span class="help-block" ng-show="errors.main_image" ng-repeat="error in errors.main_image">{{error}}</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.thumbnail_image.$invalid || errors.thumbnail_image}">
    <label class="col-lg-3 control-label">User Thumbnail</label>
    <div class="col-lg-4">
      <input name="thumbnail_image" type="file" class="btn" ng-file-select="onFileSelect($files, 'thumbnail_image_obj')" ng-model="AccountObj.thumbnail_image">
      <span class="help-block" ng-show="errors.thumbnail_image" ng-repeat="error in errors.thumbnail_image">{{error}}</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.location_address.$invalid || errors.location_address}">
    <label class="col-lg-3 control-label">Location Address</label>
    <div class="col-lg-9">
      <input name="location_address" type="text" class="form-control" placeholder="" ng-model="AccountObj.location_address">
      <span class="help-block" ng-show="errors.location_address" ng-repeat="error in errors.location_address">{{error}}</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.city.$invalid || errors.city}">
    <label class="col-lg-3 control-label">City</label>
    <div class="col-lg-9">
      <input name="city" type="text" class="form-control" placeholder="" ng-model="AccountObj.city">
      <span class="help-block" ng-show="errors.city" ng-repeat="error in errors.city">{{error}}</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.state.$invalid || errors.state}">
    <label class="col-lg-3 control-label">State</label>
    <div class="col-lg-9">
      <input name="state" type="text" class="form-control" placeholder="" ng-model="AccountObj.state">
      <span class="help-block" ng-show="errors.state" ng-repeat="error in errors.state">{{error}}</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.zip.$invalid || errors.zip}">
    <label class="col-lg-3 control-label">ZIP/Postal Code</label>
    <div class="col-lg-9">
      <input name="zip" type="text" class="form-control" placeholder="" ng-model="AccountObj.zip">
      <span class="help-block" ng-show="errors.zip" ng-repeat="error in errors.zip">{{error}}</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.county.$invalid || errors.county}">
    <label class="col-lg-3 control-label">Country</label>
    <div class="col-lg-9">
      <select name="country" class="form-control" ng-model="AccountObj.country">
        <option>USA</option>
        <option>Armenia</option>
        <option>Spain</option>
      </select>
      <span class="help-block" ng-show="errors.country" ng-repeat="error in errors.country">{{error}}</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.timezone.$invalid || errors.timezone}">
    <label class="col-lg-3 control-label">Timezone</label>
    <div class="col-lg-9">
      <select name="timezone" class="form-control" ng-model="AccountObj.timezone">
         <option ng-repeat="tm in timezones">{{tm}}</option>
      </select>
      <span class="help-block" ng-show="errors.country" ng-repeat="error in errors.timezone">{{error}}</span>
    </div>
  </div>
