<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-11 people-filter">
  	<div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'All'">All</button>
        <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Followers'">Followers</button>
        <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Following'">Following</button>
    </div>
    <ul class="people-list">
      <li>
        <div class="row profile-item">
          <div class="col-xs-12 col-sm-6 col-md-4 photo-name-col">
            <a href="#profile/LewHamF1"><img src="assets/images/profile_pic_1.jpg" alt="" class="user-pic"></a>
            <div class="name-wrapper">
              <strong><a href="#profile/LewHamF1">Lewis Hamilton</a></strong>
              <span class="username"><a href="#profile/LewHamF1">@LewHamF1</a></span>
              <span class="location">
                <i class="xa-icon-location"></i> Los Angeles, CA
              </span>
            </div>
          </div>
          <div class="col-md-3 hidden-xs hidden-sm about-col">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eleifend scelerisque porta. Duis tempor, leo at tincidunt rutrum, eros sem suscipit est.
            </p>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 counts-col">
            <ul>
              <li>
                <a href="#">
                  <span class="count-badge">
                    <span class="badge">13</span>
                  </span>
                  <span class="count-title">
                    Photos
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="count-badge">
                    <span class="badge">8</span>
                  </span>
                  <span class="count-title">
                    Followers
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="count-badge">
                    <span class="badge">174</span>
                  </span>
                  <span class="count-title">
                    Following
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-2 col-md-2 follow-col">
            <a href="#">
              <i class="xa-icon-event-details-follow"></i>
              Follow
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="row profile-item">
          <div class="col-xs-12 col-sm-6 col-md-4 photo-name-col">
            <a href="#profile/LewHamF1"><img src="assets/images/profile_pic_1.jpg" alt="" class="user-pic"></a>
            <div class="name-wrapper">
              <strong><a href="#profile/LewHamF1">Lewis Hamilton</a></strong>
              <span class="username"><a href="#profile/LewHamF1">@LewHamF1</a></span>
              <span class="location">
                <i class="xa-icon-location"></i> Los Angeles, CA
              </span>
            </div>
          </div>
          <div class="col-md-3 hidden-xs hidden-sm about-col">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eleifend scelerisque porta. Duis tempor, leo at tincidunt rutrum, eros sem suscipit est.
            </p>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 counts-col">
            <ul>
              <li>
                <a href="#">
                  <span class="count-badge">
                    <span class="badge">13</span>
                  </span>
                  <span class="count-title">
                    Photos
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="count-badge">
                    <span class="badge">8</span>
                  </span>
                  <span class="count-title">
                    Followers
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="count-badge">
                    <span class="badge">174</span>
                  </span>
                  <span class="count-title">
                    Following
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-2 col-md-2 follow-col">
            <a href="#">
              <i class="xa-icon-event-details-follow"></i>
              Follow
            </a>
          </div>
        </div>
      </li>
    </ul>
    
  </div>
</div>