<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-11 people-filter">
  	<div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="changeDisplayFilter('all')" ng-model="radioModel" btn-radio="'All'">All</button>
        <button type="button" class="btn btn-primary" ng-click="changeDisplayFilter('followers')" ng-model="radioModel" btn-radio="'Followers'">Followers</button>
        <button type="button" class="btn btn-primary" ng-click="changeDisplayFilter('following')" ng-model="radioModel" btn-radio="'Following'">Following</button>
    </div>
    <ul class="people-list">
      <li ng-repeat="profile in Profiles">
        <div class="row profile-item">
          <div class="col-xs-12 col-sm-6 col-md-4 photo-name-col">
            <a href="#profile/{{profile.slug}}"><img ng-src="{{profile.thumbnail_image}}" alt="" class="user-pic"></a>
            <div class="name-wrapper">
              <strong><a href="#profile/{{profile.slug}}">{{profile.full_name}}</a></strong>
              <span class="username"><a href="#profile/{{profile.slug}}">{{profile.name}}</a></span>
              <span class="location">
                <i class="xa-icon-location"></i> {{profile.location_address}}
              </span>
            </div>
          </div>
          <div class="col-md-3 hidden-xs hidden-sm about-col">
            <p>
              {{profile.about}}
            </p>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-3 counts-col">
            <ul>
              <li>
                <a href="#">
                  <span class="count-badge">
                    <span class="badge">{{profile.srv_photosCount}}</span>
                  </span>
                  <span class="count-title">
                    Photos
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="count-badge">
                    <span class="badge">{{profile.srv_followersCount}}</span>
                  </span>
                  <span class="count-title">
                    Followers
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="count-badge">
                    <span class="badge">{{profile.srv_followingCount}}</span>
                  </span>
                  <span class="count-title">
                    Following
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-2 col-md-2 follow-col">
            <a href="javascript:;"
              ng-click="Follow(profile)"
              ng-class="{following:profile.srv_following}">
              <i class="xa-icon-event-details-follow"></i>
              <span ng-hide="profile.srv_following">Follow</span>
              <span ng-show="profile.srv_following">Following</span>
            </a>
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>