<!DOCTYPE html>
<html ng-app="imagetest">
<head>
    <title>geotest</title>

    <script type="text/javascript" src="libs/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="libs/angular.min.js"></script>



    <script>
        // image capture usage::
        var app = angular.module("imagetest" , []);

        function ImgCtrl ($scope , $imagecapture) {
            console.log("img ctrl")
            $scope.init = function(){
                console.log("init click");
                $imagecapture.start($("#canvas")[0],$("#video")[0]);
            }
            $scope.capture = function(){
                var result = $imagecapture.captureImage();
                console.log(result);
                $("#img")[0].src = result.data;
            }
        }
        /*
        $(function () {
        $("#video").bind("loadedmetadata", function () {
            var width = this.videoWidth;
            var height = this.videoHeight;
            console.log("loadedmetadata:" , width,height);

        });
        });*/

    </script>
    <script type="text/javascript" src="js/imgcapture.js"></script>

</head>
<body style="background-color: #f1f1f1">
<!--
 style="width: 640px;height: 480px;"


-->
<video id="video" ></video>
<canvas id="canvas" style="display:none;" ></canvas>

<div ng-controller="ImgCtrl">
    <button ng-click="init()">start cam</button>
    <button ng-click="capture()">capture</button>

    <image id="img" style="width: 640px;height:480px;"/>
</div>

</body>
</html>