  <div class="partial-form-date">
    <div class="form-group">
      <label class="col-lg-3 control-label">Date</label>
      <div class="col-lg-3">
        <input type="hidden" ng-model="editDate.id">
        <input type="text" 
          class="form-control" 
          datepicker-popup="mm-dd-yyyy" 
          ng-model="editDate.date" 
          open="opened" 
          min="'2010-06-22'" 
          max="'2015-06-22'" 
          datepicker-options="dateOptions"
          required="required"
           />
      </div>
      <div class="col-lg-3">
        <input type="text" class="form-control" placeholder="Start Time" ng-model="editDate.startTime" required="required">
      </div>
      <div class="col-lg-3">
        <input type="text" class="form-control" placeholder="End Time" ng-model="editDate.endTime" required="required">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">Feature Headline</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" ng-model="editDate.featureHeadline" required="required">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">Feature Detail</label>
    <div class="col-lg-9">
      <textarea class="form-control" ng-model="editDate.featureDetail" required="required"></textarea>
    </div>
  </div>