<div><h1 >Manage photos for: {{ DateObj.DateObjLocation }} - {{ DateObj.DateObjDate }}</h1></div>
<br/>
<div class="clear"></div>
<div class="row">
    <ul class="stream-list" ng-controller="StreamListCtrl">
        <li class="col-xs-12 col-sm-4 col-lg-3" ng-repeat="item in DateObj.DateObjImgs" ng-hide="item.hide">
            <div class="inner">
                <div class="stream-picture">
                    <div bx-stream-photo="{{item.image}}" class="inner"></div>
                    <ul class="stream-action-links">
                        <li class="action-delete">
                            <a href="javascript:;" tooltip-placement="left" tooltip="Remove photo from this event"
                               ng-click="Remove(item)">
                                <i class="icon-remove"></i>
                            </a>
                        </li>
                    </ul>
                 </div>
            </div>
        </li>
    </ul>
</div>
<div ng-show="is_fetching">Loading older entries...</div>
