<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-11">
        <div class="row">
            <div class="col-xs-12">
                <div id="event-details-page-head">
                    <div class="row-wrapper">
                        <div class="row" id="event-details-cover-wrapper">
                            <div class="col-xs-12" >
                                <div class="event-details-cover-photo" ng-style="{'background-image': 'url(' + EventObj.photo + ')'}"></div>
                                <div class="event-details-overlay">
                                    <div class="event-details-header">
                                        <h1 class="pull-left">{{EventObj.title}}</h1>
                                        <a href="#" class="organizer" tooltip-placement="bottom" tooltip="Organizer: {{EventObj.author_name}}">
                                            <img class="user-pic" ng-src="{{ EventObj.author_photo }}">
                                            <span ng-hide="EventObj.author_photo" ng-cloak>{{ EventObj.author_name }}</span>
                                        </a>
                                    </div>
                                    <div class="event-details-about" ng-init="eventDetailsExpanded=false" ng-class="{expanded: eventDetailsExpanded}" bx-event-detailed-text-mobile-toggle>
                                        <a href="javascript:;" class="btn btn-sm btn-primary visible-xs">show description</a>
                                        <p>
                                            {{EventObj.about}}
                                        </p>
                                        <a href="javascript:;" ng-click="eventDetailsExpanded=!eventDetailsExpanded" class='toggle-event-details-about info-close hidden-xs'>
                                            <i class="icon-remove"></i>
                                        </a>
                                    </div>
                                    <a href="javascript:;" ng-show="!eventDetailsExpanded" ng-click="eventDetailsExpanded=!eventDetailsExpanded" class='toggle-event-details-about info-opener'>
                                        <i class="icon-info-sign"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="event-details-navbar">
                            <div class="col-xs-12 col-sm-4" ng-show="EventObj.srv_futureDates.length">
                                <div class="schedule-dropdown">
                                    <div class="dropdown">
                                        <a data-toggle="dropdown" href="javascript:;" class="btn btn-schedule-dropdown">
                                            NEXT EVENT &amp; STREAM
                                            <i class="icon-chevron-down"></i>
                                        </a>
                                        <div class="dropdown-menu schedule-dropdown-menu" role="menu">
                                            <ul class="schedule-dropdown-list">
                                                <li ng-repeat="futureDate in EventObj.srv_futureDates">
                                                    <div class="row-wrapper">
                                                        <div class="col-xs-12 schedule-dropdown-header">
                                                            <span class="badge badge-primary badge-lg schedule-dropdown-date">
                                                                {{futureDate.date}}
                                                            </span>
                                                            <span class="schedule-dropdown-location">
                                                                <i class="xa-icon-location-md"></i>{{futureDate.city}}, {{futureDate.state}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row-wrapper schedule-title-line">
                                                        <div class="col-xs-12 col-md-8">
                                                            {{futureDate.featureHeadline}}
                                                            <span class="badge badge-secondary badge-md schedule-time-wrapper pull-right">{{futureDate.startTime}} - {{futureDate.endTime}}</span>
                                                        </div>
                                                        <div class="col-xs-12 col-md-4 schedule-price-wrapper">
                                                            <span class="pull-right">
                                                                Price: {{futureDate.attend_low}} {{futureDate.attend_currency}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row-wrapper schedule-body">
                                                        <div class="col-xs-12 col-md-8 schedule-body-text">
                                                            {{futureDate.featureDetail}}
                                                        </div>
                                                        <div class="col-xs-12 col-md-4">
                                                            <span class="pull-right">
                                                                <ul class="schedule-location-details">
                                                                    <li class="head">Location:</li>
                                                                    <li>{{futureDate.addr1}}</li>
                                                                    <li>{{futureDate.addr2}}</li>
                                                                    <li>{{futureDate.city}}, {{futureDate.state}} {{futureDate.zip}}</li>
                                                                </ul>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <ul class="event-details-navbar-items pull-right">
                                    <li>
                                        <a ng-if="EventObj.gotolink" href="{{EventObj.gotolink}}">
                                           <i class="xa-icon-event-details-goto"></i>
                                            Go to
                                        </a>
                                        <a ng-if="!EventObj.gotolink" href="" ng-click="" title="Sorry! No location is set for this event.">
                                            <i class="xa-icon-event-details-goto"></i>
                                            Go to
                                        </a>
                                    </li>
                                    <li>
                                        <a data-toggle="modal" data-target="#addPhotosModal" id="uploadphotolink">
                                            <i class="xa-icon-event-details-photos"></i>
                                            <div class="badge">{{event.srv_photosCount}}</div> Photos
                                        </a>

                                    </li>
                                    <li>
                                        <a href="javascript:;" ng-click="Follow()" class="btn-follow"
                                           ng-class="{following:EventObj.srv_following}">
                                            <i ng-class="{
                                                'xa-icon-event-details-follow': !EventObj.srv_following,
                                                'xa-icon-event-details-following': EventObj.srv_following
                                                }"></i>
                                            <div ng-hide="EventObj.srv_following">Follow</div>
                                            <div ng-show="EventObj.srv_following">Following</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs event-details-tabs">
                    <li ng-class="{'active': EventObj.srv_live}"><a data-toggle="tab" data-target="#stream" ng-show="EventObj.srv_live">Live Stream</a></li>
                    <li ng-class="{'active': !EventObj.srv_live}"><a data-toggle="tab" data-target="#photos" ng-hide="EventObj.srv_live">{{EventObj.srv_photosCount}} Photos</a></li>
                    <!-- <li><a data-toggle="tab" data-target="#followers">{{EventObj.srv_followersCount}} Followers</a></li>-->
                </ul>

                <div class="tab-content event-details-tab-contents">
                    <div class="tab-pane" id="stream" ng-class="{'active': EventObj.srv_live}">
                        <ng-include src="'stream/partial_stream_list.tpl.html'"></ng-include>
                        <div ng-show="is_fetching">Loading older entries...</div>
                    </div>
                    <div class="tab-pane" id="photos" ng-class="{'active': !EventObj.srv_live}">
                        <ng-include src="'events/partial_event_details_photos.tpl.html'"></ng-include>
                    </div>
                    <div class="tab-pane" id="followers">
                        Followers
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="addPhotosModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Photos</h4>
            </div>
            <form class="form-horizontal" role="form" ng-submit="savePhotos()" novalidate name="form">
                <div class="modal-body">
                    <div class="form-group" ng-class="{'has-error': form.albumid.$invalid || errors.id}">
                        <label class="col-lg-3 control-label">Event Date</label>
                        <div class="col-lg-9">
                            <select class="form-control" ng-model="Album.id" name="albumid" required>
                                <option ng-repeat="album in EventObj.albums" value="{{album.id}}">{{album.feature_headline}} - {{album.date | toLocalEq:album.timezone | date:"MMM d hh:mm" }}</option>
                            </select>
                            <span class="help-block" ng-show="errors.id" ng-repeat="error in errors.id">{{error}}</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': form.event_upload_images.$invalid || errors.event_upload_images}">
                        <label class="col-lg-3 control-label">Photos</label>
                        <div class="col-lg-9">
                            <input name="event_upload_images" type="file" ng-file-select="onMultipleFilesSelect($files)" multiple ng-model="Album.event_upload_images">
                        </div>
                        <span class="help-block" ng-show="errors.event_upload_images" ng-repeat="error in errors.event_upload_images">{{error}}</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" ng-class="{'btn-danger':uploading}" class="btn btn-primary">{{uploading ? 'Uploading':'Upload'}}</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="shareAlbumModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Share album</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" style="text-align: center;padding: 40px;">
                    <div>Copy the link below to share:</div>
                    <input onClick="this.setSelectionRange(0, this.value.length)" class="copy-album-url form-control" style="cursor: pointer" type="text" value="{{currentURL}}" readonly />
                </div>
                <div class="modal-footer">
                    <button ng-click="closeModal()" class="btn btn-primary">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
