<h1>Edit Event</h1>
<div class="row">
	<div class="col-lg-10">
		<form name="form" class="form-horizontal event-add-form" role="form" ng-submit="eventSubmit()" novalidate>
			<ng-include src="'events/partial_edit_event_form.tpl.html'"></ng-include>

			  <div class="form-group">
			    <div class="col-lg-offset-3 col-lg-9">
			      <button type="submit" class="btn btn-success btn-lg">Save Event!</button>
			      <button type="button" class="btn btn-danger btn-lg" ng-click="removeEvent(EventObj.slug)">Delete Event</button>
			    </div>
			  </div>
		</form>
	</div>
</div>


<div class="modal fade" id="dateModal" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" ng-hide="editDate.id">Add Event Date</h4>
        <h4 class="modal-title" ng-show="editDate.id">Edit Event Date</h4>
      </div>
      <form name="dateform" class="form-horizontal" role="form" ng-submit="saveDate()" novalidate>
        <div class="modal-body">
          <ng-include src="'events/partial_form_date.tpl.html'"></ng-include>
        </div>
        <div class="modal-footer">
          <div class="to_confirm">
          <button ng-hide="editDate.id" type="button" class="btn btn-info pull-left" ng-click="copyLastDate()">Copy Last Date</button>
          <!-- <button type="reset" class="btn btn-default" ng-click="resetDate()">Close</button> -->
          <button ng-hide="editDate.id" type="submit" class="btn btn-primary">Add Date!</button>
          <button ng-show="editDate.id" type="sumbit" class="btn btn-primary">Save</button>
          </div>
            <div class="back_confirm">
                <a href="" class="pull-left backlink" ng-click="backDateEdit()">< Back</a>
                <input type="button" value="Confirm" class="btn btn-primary pull-right" ng-click="saveDateConfirm()">
             </div>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- select photo -->
<div class="modal fade" id="selphotoModal" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Select an image</h4>
      </div>
      <form name="dateform" class="form-horizontal" role="form" ng-submit="saveDate()" novalidate>
        <div class="modal-body selphoto">
            <div ng-repeat="img in imgs" ng-click="selimg(img)">
               <img src="{{img.1}}">
           </div>
            <div class="clear"></div>
        </div>
        <div class="modal-footer">
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
