<h1>My Events</h1>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover events-list-table">
  		<thead>
  			<tr>
  				<th class="name">Event Name</th>
  				<th class="location">Location</th>
  				<th clas="stats">Stats</th>
  				<th class="actions"></th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr ng-repeat="event in myEvents">	
  				<td class="name">
            <img class="img-rounded user-pic" alt="" ng-src="{{event.photo_small}}">{{event.title}}</td>
  				<td>{{event.date_info.city}}, {{event.date_info.country}}</td>
  				<td><span class="label label-success">{{event.srv_followersCount}} Followers</span> <span class="label label-info">{{event.srv_photosCount}} Photos</span></td>
  				<td>
            <a class="btn btn-primary btn-sm" href="#/events/{{event.slug}}/edit">Edit</a> <a class="btn btn-danger btn-sm" ng-click="removeEvent(event)">Delete</a>
          </td>
  			</tr>
  			
  		</tbody>
	</table>
  </div>
</div>