
  <div class="form-group">
    <label class="col-lg-3 control-label">Event Title</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" placeholder="" ng-model="EventObj.title">
      <!-- <span class="help-block">Tip: Use your real name so people can find and follow you</span> -->
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">About Event</label>
    <div class="col-lg-9">
      <textarea class="form-control" ng-model="EventObj.about"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">Venue</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" placeholder="" ng-model="EventObj.venue">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">Address line 1</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" placeholder="" ng-model="EventObj.addr1">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">Address line 2</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" placeholder="" ng-model="EventObj.addr2">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">City</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" placeholder="" ng-model="EventObj.city">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">State</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" placeholder="" ng-model="EventObj.state">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">ZIP/Postal Code</label>
    <div class="col-lg-9">
      <input type="text" class="form-control" placeholder="" ng-model="EventObj.zip">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">Country</label>
    <div class="col-lg-9">
      <select class="form-control" ng-model="EventObj.country">
        <option>USA</option>
        <option>Armenia</option>
        <option>Spain</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">How Big is You Event?</label>
    <div class="col-lg-9">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="EventObj.eventSize" btn-radio="'10'">10 Cars</button>
        <button type="button" class="btn btn-primary" ng-model="EventObj.eventSize" btn-radio="'25'">25 Cars</button>
        <button type="button" class="btn btn-primary" ng-model="EventObj.eventSize" btn-radio="'50'">50 Cars</button>
        <button type="button" class="btn btn-primary" ng-model="EventObj.eventSize" btn-radio="'100'">100 Cars</button>
        <button type="button" class="btn btn-primary" ng-model="EventObj.eventSize" btn-radio="'150'">150+ Cars</button>
    </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">Photos</label>
    <div class="col-lg-4">
      <input type="file" class="btn">
    </div>
    <div class="col-lg-4">
      <strong>or</strong>
      <button class="btn btn-primary">Select from Event Photos</button>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 control-label">Cost To Attend</label>
    <div class="col-lg-2">
      <label>
        <input type="checkbox" ng-model="EventObj.costAttend.free" ng-checked="EventObj.costAttend.free"> FREE
      </label>
    </div>
    <div class="col-lg-2">
      <label class="control-label">Price Range</label>
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" placeholder="Low" ng-disabled="EventObj.costAttend.free" ng-model="EventObj.costAttend.low">
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" placeholder="High" ng-disabled="EventObj.costAttend.free" ng-model="EventObj.costAttend.high">
    </div>
    <div class="col-lg-1">
      <input type="text" class="form-control" placeholder="USD" ng-disabled="EventObj.costAttend.free" ng-model="EventObj.costAttend.currency">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">Cost To Exhibit</label>
    <div class="col-lg-2">
      <label>
        <input type="checkbox" ng-model="EventObj.costExhibit.free" ng-checked="EventObj.costExhibit.free"> FREE
      </label>
    </div>
    <div class="col-lg-2">
      <label class="control-label">Price Range</label>
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" placeholder="Low" ng-disabled="EventObj.costExhibit.free" ng-model="EventObj.costExhibit.low">
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" placeholder="High" ng-disabled="EventObj.costExhibit.free" ng-model="EventObj.costExhibit.high">
    </div>
    <div class="col-lg-1">
      <input type="text" class="form-control" placeholder="USD" ng-disabled="EventObj.costExhibit.free" ng-model="EventObj.costExhibit.currency">
    </div>
  </div>
  
  
  

  <div class="form-group">
    
    <div class="col-lg-offset-3 col-lg-9">
      <button class="btn btn-primary" data-toggle="modal" data-target="#dateModal" ng-click="addDate()"><i class="icon-calendar"></i> Add Date</button>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 control-label">Scheduled Dates</label>
    <div class="col-lg-9">
      <table class="table">
        <!-- start date form -->
        <!-- 
        <div class="dates-items-container" >
          
        </div>
        -->
        <!-- end of date -->
        <tr ng-repeat="date in EventObj.dates">
          <td>{{date.date | date:'fullDate' }} &mdash; {{date.featureHeadline}}</td>
          <td>
            <button 
              class="btn btn-primary btn-sm"
              data-toggle="modal" 
              data-target="#dateModal"
              ng-click="setThisEditableDate(date)"
              >
                Edit
            </button>

            <button type="button" class="btn btn-danger btn-sm" ng-click="removeDate($index)">Delete</button>
            <!-- <ng-include src="'events/partial_form_date.tpl.html'"></ng-include> -->
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
      <ng-include src="'events/partial_event_details_photos.tpl.html'"></ng-include>
    </div>
  </div>
  
  
