<div class="el_fields" ng-hide="confirmScreen">
  <div class="partial-form-date">
      <div class="form-group" ng-class="{'has-error': form.location_name.$invalid || errors.location_name}">
        <label class="col-lg-3 control-label">Location Name</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" placeholder="" ng-model="editDate.location_name" name="location_name">
          <span class="help-block" ng-show="errors.location_name" ng-repeat="error in errors.location_name">{{error}}</span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': form.address_1.$invalid || errors.address_1}">
        <label class="col-lg-3 control-label">Address line 1</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" placeholder="" ng-model="editDate.address_1" name="address_1">
          <span class="help-block" ng-show="errors.address_1" ng-repeat="error in errors.address_1">{{error}}</span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': form.address_2.$invalid || errors.address_2}">
        <label class="col-lg-3 control-label">Address line 2</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" placeholder="" ng-model="editDate.address_2" name="address_2">
          <span class="help-block" ng-show="errors.address_2" ng-repeat="error in errors.address_2">{{error}}</span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': form.city.$invalid || errors.city}">
        <label class="col-lg-3 control-label">City</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" placeholder="" ng-model="editDate.city" name="city">
          <span class="help-block" ng-show="errors.city" ng-repeat="error in errors.city">{{error}}</span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': form.state.$invalid || errors.state}">
        <label class="col-lg-3 control-label">State</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" placeholder="" ng-model="editDate.state" name="state">
          <span class="help-block" ng-show="errors.state" ng-repeat="error in errors.state">{{error}}</span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': form.zip.$invalid || errors.zip}">
        <label class="col-lg-3 control-label">ZIP/Postal Code</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" placeholder="" ng-model="editDate.zip" name="zip">
          <span class="help-block" ng-show="errors.zip" ng-repeat="error in errors.zip">{{error}}</span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': form.country.$invalid || errors.country}">
        <label class="col-lg-3 control-label">Country</label>
        <div class="col-lg-9">
          <select class="form-control" ng-model="editDate.country" name="country" ng-options="x.value as x.display_name for x in editDateOptions.country.choices">
          </select>
          <span class="help-block" ng-show="errors.country" ng-repeat="error in errors.country">{{error}}</span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': form.longitude.$invalid || errors.longitude}">
        <label class="col-lg-3 control-label">Longitude</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" placeholder="(Optional)" ng-model="editDate.longitude" name="longitude">
          <span class="help-block" ng-show="errors.longitude" ng-repeat="error in errors.longitude">{{error}}</span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': form.latitude.$invalid || errors.latitude}">
        <label class="col-lg-3 control-label">Latitude</label>
        <div class="col-lg-9">
          <input type="text" class="form-control" placeholder="(Optional)" ng-model="editDate.latitude" name="latitude">
          <span class="help-block" ng-show="errors.latitude" ng-repeat="error in errors.latitude">{{error}}</span>
        </div>
      </div>
    <div class="form-group" ng-class="{'has-error': dateform.start_date.$invalid || errors.start_date}">
      <label class="col-lg-3 control-label">Date</label>
      <div class="col-lg-3">
        <input type="hidden" ng-model="editDate.id">
        <input type="hidden" ng-model="editDate.event">
        <input type="text"
          name="start_date"
          class="form-control"
          datepicker-popup="MM-dd-yyyy"
          ng-model="editDate.start_date"
          open="opened"
          min="'{{minDate | date:'MM-dd-yyyy'}}'"
          max="'{{maxDate | date:'MM-dd-yyyy'}}'"
          datepicker-options="dateOptions"
          required="required"
           />
        <span class="help-block" ng-show="errors.start_date" ng-repeat="error in errors.start_date">{{error}}</span>
      </div>
      <div class="col-lg-3" ng-class="{'has-error': dateform.start_time.$invalid || errors.start_time || errors.start_date}">
        <input
        name="start_time"
        type="text"
        class="form-control"
        placeholder="Start Time"
        ng-model="editDate.startTime"
        required="required"
        ng-pattern="/^([0-1][0-9]|2[0-3]):[0-5][0-9]$/"
        >
        <span class="help-block" ng-show="errors.start_time" ng-repeat="error in errors.start_time">{{error}}</span>
      </div>
      <div class="col-lg-3" ng-class="{'has-error': dateform.end_time.$invalid|| errors.end_time || errors.end_date}">
        <input
        name="end_time"
        type="text"
        class="form-control"
        placeholder="End Time"
        ng-model="editDate.endTime"
        required="required"
        ng-pattern="/^([0-1][0-9]|2[0-3]):[0-5][0-9]$/"
         >
        <span class="help-block" ng-show="errors.end_time" ng-repeat="error in errors.end_time">{{error}}</span>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': form.timezone.$invalid || errors.timezone}">
        <label class="col-lg-3 control-label">Timezone</label>
        <div class="col-lg-9">
          <ng-include src="'events/timezones.tpl.html'"></ng-include>
          <span class="help-block" ng-show="errors.latitude" ng-repeat="error in errors.timezone">{{error}}</span>
        </div>
      </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">Cost To Attend</label>
    <label class="col-lg-2 control-label free-label">
      <input type="checkbox" ng-model="editDate.attend_free"> FREE
    </label>
    <label class="control-label col-lg-2">Price Range</label>
    <div class="col-lg-2">
      <input type="text" class="form-control" placeholder="Low" ng-disabled="editDate.attend_free" ng-model="editDate.attend_price_from">
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" placeholder="High" ng-disabled="editDate.attend_free" ng-model="editDate.attend_price_to">
    </div>
    <div class="col-lg-2" ng-class="{'has-error': dateform.currency.$invalid|| errors.currency}">
      <select required name="currency" class="form-control" ng-model="editDate.currency" ng-options="x.value as x.display_name for x in editDateOptions.currency.choices">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">Cost To Exhibit</label>
    <label class="col-lg-2 control-label free-label">
      <input type="checkbox" ng-model="editDate.exhibit_free"> FREE
    </label>
    <label class="control-label col-lg-2">Price Range</label>
    <div class="col-lg-2">
      <input type="text" class="form-control" placeholder="Low" ng-disabled="editDate.exhibit_free" ng-model="editDate.exhibit_price_from">
    </div>
    <div class="col-lg-2">
      <input type="text" class="form-control" placeholder="High" ng-disabled="editDate.exhibit_free" ng-model="editDate.exhibit_price_to">
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': dateform.feature_headline.$invalid}">
    <label class="col-lg-3 control-label">Feature Headline</label>
    <div class="col-lg-9">
      <input name="feature_headline" type="text" class="form-control" ng-model="editDate.feature_headline" required="required">
      <span class="help-block" ng-show="errors.feature_headline" ng-repeat="error in errors.feature_headline">{{error}}</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': dateform.feature_detail.$invalid}">
    <label class="col-lg-3 control-label">Feature Detail</label>
    <div class="col-lg-9">
      <textarea name="feature_detail" class="form-control" ng-model="editDate.feature_detail" required="required"></textarea>
      <span class="help-block" ng-show="errors.feature_detail" ng-repeat="error in errors.feature_detail">{{error}}</span>
    </div>
  </div>
</div>
<div class="el_confirm" ng-show="confirmScreen">
     <h2 id="e_name">{{ EventObj.title }}</h2>
     <div class="loc_adr_dates">
        <div class="loc">
            <p><span>Location Name:</span><b>{{ editDate.location_name }}</b></p><div class="clear"></div>
            <p><span>Address:</span><b>{{ editDate.address_1  }} {{ editDate.address_2  }}
            <br/>{{editDate.city}} , {{editDate.zip}}</b></p><div class="clear"></div>
        </div>
        <div class="dates">
            <div class="dt">
                <div>{{ editDate.start_date | date:'MMM'}}</div>
                <p>{{ editDate.start_date | date:'dd'}}</p>
                <span>{{ editDate.start_date | date:'yyyy'}}</span>
            </div>
            <div class="time">
                {{editDate.startTime}} - {{editDate.endTime}}
            </div>
        </div>
     </div>
     <div class="map">

     </div>
     <div class="feature_prices">
        <div class="feature">
        <p>Feature Headline:</p>
        <b>{{editDate.feature_headline}}</b>
        <p>Feature detail:</p>
        <b>{{editDate.feature_detail}}</b>
        </div>
        <div class="prices">
            <div class="wrap">
            <p>Attend:<b>{{editDate.attend_free? 'FREE' : editDate.attend_price_from + '-' +editDate.attend_price_to}}</b></p>
            <p>Exhibit:<b>{{editDate.exhibit_free?'FREE' : editDate.exhibit_price_from + '-' + editDate.exhibit_price_to}}</b></p>
            </div>
        </div>
        <div class="clear"></div>
     </div>

</div>