<div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()">&times;</button>
    <h4 class="modal-title" ng-hide="editDate.id">Add Event Date</h4>
    <h4 class="modal-title" ng-show="editDate.id">Edit Event Date</h4>
</div>
<form name="dateform" class="form-horizontal" role="form" ng-submit="saveDate()" novalidate>
    <div class="modal-body date-modal-content-fix">
        <ng-include src="'events/partial_form_date.tpl.html'"></ng-include>
    </div>
    <div class="modal-footer date-modal-footer-fix">
      <div class="to_confirm">
        <button ng-hide="editConfirm()" type="button" class="btn btn-info pull-left" ng-click="copyLastDate()">Copy Last Date</button>
        <button ng-hide="confirmScreen" type="submit" ng-click="addDate()" class="btn btn-primary" data-toggle="modal">{{editDate.id ? 'Edit Date!':'Add Date!'}}</button>
        <button ng-show="confirmScreen" type="submit" ng-click="saveDate()" value="Confirm" data-toggle="modal" data-target="#dateModal"  class="btn btn-primary">Confirm</button>
        <div ng-show="confirmScreen" class="pull-left date-modal-back-btn" ng-click="backConfirm()">&lt; Back</div>
      </div>
          <!--
      <div class="back_confirm">
        <a href="" class="pull-left backlink" ng-click="backDateEdit()">Back</a>
        <input type="button" value="Confirm" class="btn btn-primary pull-right" data-toggle="modal" data-target="#dateModal" ng-click="saveDateConfirm()">
      </div>-->
    </div>
</form>