<div class="panel-group" id="accordion">
  <div class="panel panel-default" ng-repeat="album in Albums">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#album-{{album.id}}" onClick="return false">
          {{album.date}} - {{album.feature_headline}}
        </a>
        <div class="albumShare" href="#" tooltip-placement="left" tooltip="Share" ng-click="shareAlbum(album.id)"><i class="icon-share"></i></div>
      </h4>
    </div>
    <div id="album-{{album.id}}" class="panel-collapse collapse in" ng-class="{in:album.active}" >
      <div class="panel-body">
        <div class="row">
          <ul class="stream-list">
            <li class="col-xs-12 col-sm-4 col-lg-3" ng-repeat="photo in album.showphotos" ng-hide="photo.hide" ng-click="selectPhoto()">
              <div class="stream-picture">
                  <div bx-stream-photo="{{photo.image}}" class="inner"></div>
                  <ul class="stream-action-links">
                      <li class="action-delete" ng-show="false">
                          <a href="javascript:;" tooltip-placement="left" tooltip="Delete"
                             ng-click="Delete(photo)">
                              <i class="icon-remove"></i>
                          </a>
                      </li>
                  </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
        <div class="col-xs-12">
        <a ng-show="album.hasMoreEvents(album)" ng-click="showMore(album)" class="btn btn-info  showmorespan">Show more</a>
    </div>
    </div>
  </div>
</div>
