<form class="form-horizontal" role="form" novalidate name="form">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancelReset()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Reset password</h4>
  </div>
    <div class="modal-body">
      <div class="form-group" ng-class="{'has-error': form.email.$invalid || errors.email}">
          <label class="col-lg-3 control-label">Email</label>
          <div class="col-lg-9">
            <input type="email" class="form-control" placeholder="" ng-model="user.email" required>
            <span class="help-block" ng-show="errors.email" ng-repeat="error in errors.email">{{error}}</span>
          </div>
      </div>
      <a href="" ng-click="showLogin()">Back to login</a>
    </div>
    <div class="modal-footer">
        <button type="submit" ng-hide="is_reset_done" class="btn btn-primary" ng-click="resetPassword()" ng-disabled='form.$invalid'>Send</button>
        <button type="submit" ng-show="is_reset_done" class="btn btn-primary" ng-click="cancelReset()">Close</button>
    </div>
</form>
