<ul class="nav navbar-nav navbar-right">
      <li ng-hide="isAuthenticated()"><a data-toggle="modal" href="#signupModal">Sign Up</a></li>

      <!--li ng-hide="isAuthenticated()"><a data-toggle="modal" href="#loginModal">Log In</a></li-->
      <li ng-hide="isAuthenticated()"><a href="" ng-click="login()">Log In</a></li>

      <li class="dropdown" ng-show="isAuthenticated()">
        <a href="#" class="dropdown-toggle profile-dropdown" data-toggle="dropdown">
          <img ng-src="{{currentUser.thumbnail_image}}" class="img-rounded navbar-profile-pic"/> {{currentUser.firstName}} {{currentUser.lastName}} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a ui-sref="eventsMy">My Events</a></li>
          <li><a ui-sref="photosMy">My Photos</a></li>
          <li class="divider"></li>
          <li><a ui-sref="photosMyFavorites">My Favorite Photos</a></li>
          <li class="divider"></li>
          <li ><a ui-sref="accountEdit({accountId: currentUser.slug})">My Account</a></li>
          <li class="divider"></li>
          <li ng-click="logout()"><a href="#">Logout</a></li>
        </ul>
      </li>
</ul>