<!-- photo viewer  -->
<div ng-controller="photoviewer" class="photoviewer">
    <div class="photoviewerbackground"></div>
    <div class="photoback">
        <div class="photoviewercontent" ng-keypress="keyChangePhoto()">
            <div class="imgcontainer">
                <img src="{{photoURL}}"/>
                <div ng-click="nextPhoto()" class="nextphoto"></div>
                <div ng-click="prevPhoto()" class="prevphoto"></div>
            </div>
            <div class="rightwrap">
                <div class="close" ng-click="closePhoto()"></div>
                <div class="eventtitle" ng-show="EventObj">
                    <div class="title">{{EventObj.title}}</div>
                    <div class="follow" ng-click="Follow()">
                        <div class="followcount">{{EventObj.srv_followersCount}}</div>
                        <a href="" ng-click="" class="followicon">
                            <i style="width: 28px;height: 18px;margin-top: 2px ; margin-left: 10px" ng-class="{'xa-icon-xauto-white': !EventObj.srv_following ,'xa-icon-xauto-colored': EventObj.srv_following}"></i>
                        </a>
                    </div>
                </div>
                <div class="author">
                    <img class="userimg" src="{{EventObj.author_photo}}"/>
                    <div class="name">{{Profile.name}}</div>
                    <div ng-hide="Profile.srv_following" class="follow" ng-click="FollowUser()">Follow Me</div>
                    <div ng-show="Profile.srv_following" class="follow" ng-click="FollowUser()">Following</div>
                </div>
                <div class="social">
                    <div class="links">
                        <a href="" class="social1" ng-click="social_tw(currentPhoto)"></a>
                        <a href="" class="social2" ng-click="social_fb(currentPhoto)"></a>
                        <a href="" class="social3" ng-click="social_p(currentPhoto)"></a>
                        <a href="" class="social4" ng-click="social_tu(currentPhoto)"></a>
                        <a href="" class="social5" ng-click="social_pl(currentPhoto)"></a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>