            <div class="popular">
                <div class="inner">
                    <h4>{% trans "Popular Searches" %}</h4>
                    <ul>
                        {% for keyword in keywords %}
                            {% with keyword.content_object as keyword %}
                                <li>
                                    <a title="Click here to start searching on [{{ keyword.keyword }}]" class="popular_select_keyword" id="id_select_keyword_{{ keyword.id }}"  attr="{{ keyword.id }}" href="#">
                                        {{ keyword.keyword }}
                                    </a>
                                </li>
                            {% endwith %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
