 <h1>{% trans "popular searches" %}</h1>
 
        {% for keyword in keywords %}
        
            {% comment %} ------------------------------------------------- {% endcomment %}
            {% comment %} ----- First column with first Top 6 Keywords --- {% endcomment %}
            {% if forloop.counter <= 6 %}
                {% if forloop.first %}
                    <ul class="lp-10">
                {% endif %}
                {% with keyword.content_object as keyword %}
                    <li>
                        <a href="javascript:void(0);" title="Click here to start searching on [{{ keyword.keyword }}]"   class="popular_select_keyword" id="id_select_keyword_{{ keyword.id }}"  attr="{{ keyword.id }}" >
                            {{ keyword.keyword }}
                        </a>
                    </li>
                {% endwith %}
                {% if forloop.counter == 6 %}
                    </ul>
                {% endif %}
            {% endif %}

            {% comment %} ------------------------------------------------- {% endcomment %}
            {% comment %} ----- First column with Last   Top 6 Keywords --- {% endcomment %}
            {% if forloop.counter > 6 %}
                {% if forloop.counter == 7 %}
                    <ul class="nomar">
                {% endif %}
                {% with keyword.content_object as keyword %}
                    <li>
                        <a href="javascript:void(0);" title="Click here to start searching on [{{ keyword.keyword }}]" class="popular_select_keyword" id="id_select_keyword_{{ keyword.id }}"  attr="{{ keyword.id }}" >
                            {{ keyword.keyword }}
                        </a>
                    </li>
                {% endwith %}
                {% if forloop.last %}
                    </ul>
                {% endif %}
            {% endif %}

        {% endfor %}
