<div class="row">
    <ul class="stream-list" ng-controller="StreamListCtrl">
        <li class="col-xs-12 col-sm-4 col-lg-3" ng-repeat="item in stream">
            <div class="inner">
                <div class="stream-picture">
                     <div bx-stream-photo="{{item.image}}" class="inner" ng-click="selectImage()"></div>
                     <ul class="stream-action-links">
                        <li ng-hide="item.favorited" class="action-favorite">
                            <a href="javascript:;" tooltip-placement="left" tooltip="Favorite!"
                              ng-click="Favorite(item)">
                              <i class="icon-star"></i>
                            </a>
                        </li>
                        <li ng-show="item.favorited" class="action-favorite">
                          <a href="javascript:;" tooltip-placement="left" tooltip="Favorited" ng-click="Favorite(item,2)">
                            <i class="icon-star icon-highlight"></i>
                          </a>
                        </li>
                        <li class="action-share">
                            <a href="#" tooltip-placement="left" tooltip="Share"  ng-click="selectImage()"><i class="icon-share"></i></a>
                        </li>
                        <li ng-hide="item.reported" class="action-report">
                            <a href="javascript:;" tooltip-placement="left" tooltip="Report"
                              ng-click="Report(item)">
                              <i class="icon-flag"></i>
                            </a>
                        </li>
                        <li ng-show="item.reported" class="action-report">
                          <a href="javascript:;" tooltip-placement="left" tooltip="Reported">
                           <i class="icon-flag icon-highlight-red"></i>
                          </a>
                        </li>
                    </ul>
                 </div>
                <div class="stream-title">
                    <a href="#{{item.userslug}}" ng-class="{'hidden':!EventObj && Profile && !isfavor}"><h1>{{item.caption_by}}</h1></a>
                    <a href="#{{item.eventslug}}" ng-class="{'hidden':!Profile && EventObj && !isfavor}"><h1>{{item.caption_ev}}</h1></a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div ng-show="is_fetching">Loading older entries...</div>